html {
  color: #333;
}
body {
  text-align: center;
  background: #f8f8f8;
}

nav {
  text-align: left;
  width: 60vw;
  min-width: 320px;
  margin: auto;
  line-height: 40px;
  margin-top: 32px;
}
.float-right {
  float: right;
}

nav a:link h1 {
  font-size: 3rem;
  margin: 0px;
  display: inline;
}

nav a:link {
  color: black;
  text-shadow: 0px 0px 8px white;
  text-decoration: none;
  border-top: 256px solid transparent;
  border-bottom: 12px solid transparent;
  box-shadow: 0px 0px 0px transparent;
  padding: 4px 15px;
  padding-bottom: .2em;
  margin: 0px 4px;
  background: rgba(254, 221, 49,0);
  transition-duration: .25s;
}

nav a:hover {
  background: rgba(254, 221, 49,1);
  color: black;
}

nav a:visited {
  color: black;
}

nav a:active {
  background: hsl(50, 70%, 49%);
  box-shadow: 0px 0px 0px 1px rgb(183, 154, 0);
  transition-duration: 0s;
}

main,footer {
  min-width: 320px;
  width: 60vw;
  margin: auto;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
}
.video {
  border: 1px solid #ccc;
  height:40vmin;
  background: white;
}

footer {
  margin-bottom: 1em;
}
footer a:link {
  color: #aaa;
  text-decoration: none;
  padding: 0px 8px;
  display: inline-block;
}
footer a:hover {
  border-bottom: 1px solid #ccc;
}
footer a:visited {
  color: #aaa;
}


h1,h2 {
  font-family: 'Great Vibes', cursive;
}
main h1 {
  min-width: 280px;
  width: 100%;
  font-size: 4em;
  display: inline-block;
  text-align: center;
}
main h1:after {
  width: 64px;
  height: 4px;
  background: #FEDD31;
  content: ' ';
  display: block;
  border-radius: 100px;
  margin: auto;
}